/*
:not(body):not(html) {
box-sizing:border-box;
border:1px dashed #000;
}
*/


/* GENERAL */

.wrap {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.nowrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}


.columns {
  min-height: 80px;
}

body {
  background-color: #f0f0f0;;
}
p {
  font-size: 1.01em;
  font-family: 'Roboto', sans-serif; 
  margin-bottom: 0px;
  line-height: 23px;
  color: #1985fc;
}


#bodyHeading {
padding-top:21%;

    
}

#bodyHeading h3{
  font-weight: 400; 

    
}


#bodyHeading p{
 border-top-color: #d9d9d9;
  border-top-style: solid;
  border-width: 1.5px;
    
}
/*link styling*/

section.links a {
  color: #1985fc;
   font-family: 'Eczar', serif;
  font-size: 1.2em;
  text-align: center;
}
section.links a:hover {
  color: white;
}
a {
  color: white;
   font-family: 'Eczar', serif;
  font-size: 1.2em;
  text-align: center;
}
a:hover {
  color: white;
}
a#contact {
  color: #F3F4F4;
  ;
}
a#contact:hover {
  color: #F3F4F4;
  7;
}
nav.top-bar a:visited {

}
nav.top-bar a {
  color: #1985fc;
}
nav.top-bar a:hover {
  color: #F79A6E;
}
nav div.top-bar-left h3 a:hover {
  color: #1985fc;
}
a.links {
  color: #1985fc;
}
a.links:hover {
  color: white;
}
a.links:hover {
  color: #1985fc
}
section.aboutBio div a {
  font-family: 'Roboto', sans-serif; 
  color: #F79A6E;
  font-size: 1em;
}



/*Timeline links*/ 

a.timelineLink { 
color: #1985fc;
border-bottom: 1px solid #000;  
border-bottom-color: #1985fc;
font-size: 1em;
font-family: 'Roboto', sans-serif;
margin-bottom: 0px;
line-height: 23px;
margin-bottom: 1em;

}



a.timelineLink:hover {
color:#ebc50f;
 
}


/* NAV */

.top-bar {
  background-color: #F3F4F4;
 font-family: 'Eczar', serif;
  color: #1985fc;
  padding-top: 1.5%;
}
h3 {
  font-size: 1.3em;
  font-family: 'Eczar', serif;
  color: #1985fc;
}


h5#timelineTitle {
 font-family: 'Eczar', sans-serif;
  font-size: 1em;
    color: #1985fc;
  font-style:italic;
  padding: 2% 0px 3% 0px;
  width: 100%;
  text-align: left;



}



.top-bar-left {
  border-bottom-width: 7px;
  border-bottom-color: #1985fc;
  border-bottom-style: solid;
}
.top-bar, .top-bar ul {
  background-color: transparent;
  color: #1985fc;
}
.top-bar ul li {
  color: #1985fc;
}

img {
  float: left;
  padding: 10px 0px;
}


/*HERO*/

.aboutBio {
  background-color: #f0f0f0;
  height: auto;
   font-family: 'Eczar', serif;
  padding-bottom:3%;
  

}



section.aboutBio img {
margin-top:60%;

}


section.aboutBio div h3 { 
    
margin: 0px;
}

}
.bio {
  font-family: 'Roboto', sans-serif; 
  padding: 15px 30px 50px 50px;
  margin-top: 3em;
  color: #1985fc;
}
.button {
  width: 200px;
  font-size: 1.1em;
  font-family: 'Eczar', serif;
  color: #FFF;
  background-color: #1985fc;
  margin-right: 10px;
}
.expand {
  width: 100%;
  text-align: center;
}



/*Vertical Line*/

section.vertical-line div.line {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #1985fc;
    height: 20%;
}

section.vertical-line div {
    padding-left: 1.3em;
    
}



/*MAIN*/

.main {
  background-color: white;
}


h2 {
  font-size: 2em;
 font-family: 'Eczar', serif;
  color: #1985fc;
  text-align: left;
  float: left;
}


ul { 
margin:0;
}


li {
  font-size: 1em;
  font-family: 'Roboto', sans-serif; 
  margin-bottom: 0px;
  line-height: 23px;
  color: #1985fc;
  list-style-type: none; 
  margin-bottom: 1em;
}


section.timeline {
   background-color: #f0f0f0;
    padding-bottom: 10%;
}

section div.timelineRow { 
padding-bottom: 7%;
}

div.timelineEntry { 
padding-right: 2em;

}

div ul li.entryTitle {
    font-weight:700;
}

/*links*/

#social {
  font-size: 1.3em;
  color: white;
  padding: 40px 0px;
  text-align: center;
}
.links {
  padding: 15px;
  background-image: url(../img/dottedbackground.png);
  border-top-width: 8px;
  border-top-color: #1985fc;
  border-top-style: solid;
  text-align: center;
  line-height: 7px;
  
}



/* currently */ 


a.currentLink { 
font-family: 'Eczar',Helvetica, Arial, sans-serif; 
color: #1985fc;
border-bottom: 1px solid #000;  
border-bottom-color: #1985fc;
font-size:2.2em;
margin-left:.2em;

}


/*sendMessage*/

a#sendMessage {
  color: #1985fc;
  font-family: 'Roboto', sans-serif; 
}
a#sendMessage:hover {
  color: #F79A6E;
}
a#sendMessage:visited { 
 color: #1985fc;
}


/* FOOTER */

#contact {
  padding: 20px 0px 20px 0px;
  font-size: 1em;
}
footer {
  height: auto;
  background-color: #1985fc;
}
footer div p {
  color: #F3F4F4;
}






