/* GENERAL */ 
.wrap { 
    width:90%; 
    margin: 0 auto;
    max-width:1100px;
}

.nowrap {
    width:100%; 
    margin: 0 auto;
    max-width:1100px;
}


/*
:not(body):not(html) { 
box-sizing:border-box; 
border:1px dashed #000;
}

*/

.columns {
    min-height:80px; 
}

@font-face {
    font-family: 'cornerstoneregular';
    src: url('../font/cornerstone-webfont.eot');
    src: url('../font/cornerstone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cornerstone-webfont.woff2') format('woff2'),
         url('../font/cornerstone-webfont.woff') format('woff'),
         url('../font/cornerstone-webfont.ttf') format('truetype'),
         url('../font/cornerstone-webfont.svg#cornerstoneregular') format('svg');
    font-weight: normal;
    font-style: normal;x
}


@font-face {
    font-family: 'nexa_regularregular';
    src: url('../font/nexa_regular-webfont.eot');
    src: url('../font/nexa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nexa_regular-webfont.woff2') format('woff2'),
         url('../font/nexa_regular-webfont.woff') format('woff'),
         url('../font/nexa_regular-webfont.ttf') format('truetype'),
      url('../font/nexa_regular-webfont.svg#nexa_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { 
background-color: #F3F4F4;
}

p { 
font-size: 1.01em;
font-family: 'nexa_regularregular';
margin-bottom: 0px;
line-height: 23px;
color: #3E4E97; 


}


/*link styling*/


section.links a {
color: #3E4E97;   
font-family: 'cornerstoneregular';
font-size: 1.2em; 
text-align: center; 
}

section.links a:hover {
color: white;   
}

a {
color: white;  
font-family: 'cornerstoneregular';
font-size: 1.2em; 
text-align: center; 
}


a:hover {
color: white; 
}

a#contact {    
 color: #F3F4F4;
;   
}

a#contact:hover{    
 color: #F3F4F4;
7;   
}


nav.top-bar a:visited { 
color: #3E4E97;  
}

nav.top-bar a{ 
    color: #3E4E97;   

}

nav.top-bar a:hover { 
    color: #F79A6E;  

}

nav div.top-bar-left h3 a:hover {
    color: #3E4E97;     

}

a.links {
    color: #3E4E97; 
}

a.links:hover {
    color: white; 
}

a.links:hover {
 color: #3E4E97 
}

section.hero div a {
 font-family: 'nexa_regularregular';
       color: #F79A6E;
   font-size: 1em;
}

article.timeline div a {
   font-family: 'nexa_regularregular';
       color: #F79A6E;
   font-size: 1em;

}

article.timeline div a:hover {
   font-family: 'nexa_regularregular';
    color: #F79A6E;
   font-size: 1em;


}



/* NAV */ 
.top-bar {
background-color:#F3F4F4;
font-family: 'cornerstoneregular';
color: #3E4E97;
padding-top: 1.5%;
}


h3 {
    font-size:1.3em;
    font-family: 'cornerstoneregular'; 
    color:#3E4E97;    
}

h3#timelineTitle { 
    font-size:1.5em;
}


.top-bar-left {
    border-bottom-width: 7px;
    border-bottom-color: #3E4E97;
    border-bottom-style: solid;    
} 

.top-bar, .top-bar ul {
background-color: transparent;
color: #3E4E97;
}

.top-bar ul li { 
    color: #3E4E97;
}

/*HERO*/
.hero { 

background-color:#F3F4F4;
padding:30px 0px 80px 0px;
height: auto;
font-family: 'cornerstoneregular';
}

img {
    
float:left;
    
}

.bio {
font-family: 'nexa_regularregular';
padding: 15px 30px 50px 50px;
margin-top:3em;
color:#3E4E97;

}


.button {
    width:200px;
    font-size:1.1em;
    font-family: 'cornerstoneregular';
    color:#FFF;
    background-color: #3E4E97;
    margin-right:10px;
    }

.expand { 
width: 100%;
text-align: center;

}




/*MAIN*/

.main {
background-color: white;
}

/*perspective section*/ 
#perspective {
    padding:50px 0px 50px 0px;
}

.perspectiveContent {
padding-bottom: 60px;
}


h4 { 
    
    font-size: 1.2em;
    font-family: 'cornerstoneregular'; 
    color:#3E4E97; 
}

#believe { 
font-size: 18px;
line-height: 27px;
padding:50px 0px;
margin:auto;
width:90%;
}

h2 {
font-size: 2em;
font-family: 'cornerstoneregular'; 
color:#3E4E97; 
text-align: left;
float:left;
}

#year {
padding: 40px 20px 20px 20px;
}

#yearContent { 
padding-top: 10px;
}

.timelineContainer { 
    padding:40px 30px 40px 20px;
    border-bottom-width: 6px;
    border-bottom-color: #3E4E97;
    border-bottom-style: solid;
}

section article div.timelineContainer#lastTimeline {
border-style:none;
margin-bottom:50px;
}

li{ 
font-size: 1em;
font-family: 'nexa_regularregular';
margin-bottom: 0px;
line-height: 23px;
color: #3E4E97; 
}

/*links*/

#social { 
font-size:1.3em;
color:white;
padding: 40px 0px;
text-align: center;
}

.links { 
padding: 15px;
background-image: url(../img/dottedbackground.png);
border-top-width: 8px;
border-top-color: #3E4E97;
border-top-style: solid;
text-align: center;
line-height: 7px;
}

  
    /* FOOTER */ 

#contact { 
padding:20px 0px 20px 0px;
font-size:1em;
}

footer {
    height:auto;
    background-color: #3E4E97;
}

footer div p { 
color: #F3F4F4;
}

