/*
:not(body):not(html) {
box-sizing:border-box;
border:1px dashed #000;
}

/* GENERAL */

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}


.menuitems {
    width: 100%;
    margin: 0 30px 0px 30px;
    max-width: 95%;
}


.columns {
    min-height: 80px;
}

body {
    background: url('../img/test-background-crop.png');
    background-repeat: repeat;
    background-color: #f4ede1;
    background-size:90%;
    border: 5px solid #1985fc;
}



p {
    font-size: 1.01em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    line-height: 23px;
    font-style: normal;
    color: #1985fc;
}


/*link styling*/

section.links { 
background-color:#1985fc;
padding: 100px 0px; 
}


section.links a {
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}

section.links a:hover {
    color: white;
}




a {
    color: white;
    font-family: 'Eczar', serif;
    font-size: 1.2em;
    text-align: center;
}

a:hover {
    color: white;
}

a#contact {
    color: #f0f0f0;
}

a#contact:hover {
    color: #f0f0f0;
}



nav.top-bar a:visited {
    color: #1985fc;
}

nav.top-bar a {
    color: #1985fc;
    font-size: 1.5em;
    ;
}

nav.top-bar a:hover {
    color: #fcdd44;
    ;
}

a.links {
    color:white;
}

a.links:hover {
    color: white;
}

a.links:hover {
    color: #1985fc;
}


a.sentenceLink { 
font-family: 'Eczar',Helvetica, Arial, sans-serif; 
color: #1985fc;
border-bottom: 1px solid #000;  
border-bottom-color: #1985fc;
font-size:1em;
}


a.sentenceLink  { 
background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #fcdd44 50%);
  background-position: -0% 0;
  background-size: 202% auto;
  color: #1985fc;
  margin: 0px 10px;
  text-decoration: none;
  transition: background-position 0.2s ease-out;

}

a.sentenceLink:hover { 
  background-position: -99.99% 0;

}






/* NAV */

.top-bar {
    /*background-image: url(../img/topbarBG.png);*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
    padding-top: 1.5%;
    position: absolute;
    z-index: 1;
}

.hero h3 {
    font-size: 2.3em;
    font-family: 'Eczar',Helvetica,Arial, sans-serif;
    font-weight: 400;
    color: #1985fc;
    line-height: 1.5em;
    letter-spacing: .5px;
    text-align: center;
 
    
}

h3 {
    font-size: 1.5em;
     font-family: 'Eczar',Helvetica,Arial, sans-serif;
    font-style: bold;
    color: #1985fc;
    width: 80%;
    margin: 0px 10%;
}

.top-bar-left {
    border-bottom-width: 4px;
    border-bottom-color: #1985fc;
    border-bottom-style: solid;
    height:65px;
    padding-top:10px;
}


.top-bar {
    position: fixed;
    width: 100%;
    background-color: transparent;
}


.top-bar,
.top-bar menu ul {
    font-family: 'Roboto', sans-serif;
    color: #1985fc;
}

.top-bar ul li {
    color: #1985fc;
    background-color: transparent;
}

.top-bar ul {
    background-color: transparent;
}


.top-bar div.menuitems a { 
background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #fcdd44 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #1985fc;
  margin: 0px 10px;
  font-size: 1.4em;
  line-height: 1em;
  text-decoration: none;
  transition: background-position 0.2s ease-out;
  padding: 10px 10px;
}

.top-bar div.menuitems a:hover { 
  background-position: -99.99% 0;

}



/*HERO*/
.hero {
    padding: 100px 0px 0px 0px;
    height: auto;
    font-family: 'Eczar', serif;
    font-weight: 700;
    font-style: italic;
}

div.heading {
    padding-top: 30px;
    
}

p.subtitle {
    font-family: 'Eczar', sans-serif;
    font-size: 30px;
    padding: 80px 0px 20px 0px;
    text-align: center;
    
}

/*Check this out*/

section.checkthisout div#issueShop { 
padding-top: 50px;
}




/*MAIN*/

p.paragraph { 
padding: 15px 0px;
}

p#paragraphList {
    padding-bottom: 10px;
    padding-top:40px;
}

ul.paragraphList li { 
font-size:1.5em; 
font-weight:300;

}

ul.paragraphList {
    
    list-style-type: none;
    padding:0;
    margin:0;
}


.bio {
    padding: 80px 30px 100px 80px;
    margin-top: 0em;
}

.issuebio {
    padding: 20px 30px 50px 80px;
    margin-top: 0em;
}


#shopcover {
    padding: 0px 1em;
}

.zinePics { 
padding: 50px 0px 0px 0px;
}


/* FOOTER */

footer {
    height: auto;
    background-color: #1985fc;
    color: #f0f0f0;
