/*
:not(body):not(html) {
box-sizing:border-box;
border:1px dashed #000;
}

/* GENERAL /*

.wrap {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.nowrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}
.columns {
  min-height: 80px;
}
@font-face {
  font-family: 'cornerstoneregular';
  src: url('../font/cornerstone-webfont.eot');
  src: url('../font/cornerstone-webfont.eot?#iefix') format('embedded-opentype'), url('../font/cornerstone-webfont.woff2') format('woff2'), url('../font/cornerstone-webfont.woff') format('woff'), url('../font/cornerstone-webfont.ttf') format('truetype'), url('../font/cornerstone-webfont.svg#cornerstoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nexa_regularregular';
  src: url('../font/nexa_regular-webfont.eot');
  src: url('../font/nexa_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/nexa_regular-webfont.woff2') format('woff2'), url('../font/nexa_regular-webfont.woff') format('woff'), url('../font/nexa_regular-webfont.ttf') format('truetype'), url('../font/nexa_regular-webfont.svg#nexa_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*subtitle*/

div h4 {
  border-bottom-width: 6px;
  border-bottom-color: #3E4E97;
  border-bottom-style: solid;
    width: 50%;
}

/*tagline*/

#tagline {
  font-size: 1.5em;
}

/*main*/

.main {
  margin-top: 30px;
  background-color: #F3F4F4;
}
h1 {
  font-size: 1.2em;
}
h3 {
  font-size: 2.5em;
}
h2 {
  font-size: 1em;
  font-family: 'nexa_regularregular';
  padding-bottom: 10px;
}
h4 {
  padding: 30px 0px 7px 0px;
}

/*section*/

section.process { 
padding:40px 0px;
}

section.process p {
  padding: 20px 0px 0px 0px;
}

article.process {
padding:30px 0px;
}

article section {
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #3E4E97;
}
.graphicStandard {
  padding-bottom: 50px;
}
img {
  padding: 10px 0px;
}

img#

/*IDS*/

row div#description {
  padding-top: 30px;
}
div#mainDescription {
  margin-top: 20px;
  margin-bottom:100px;
  padding-right:50px;
    
}
#description {
  padding: 20px;
}
#pullout {
  font-size: 1.4em;
  line-height: 1.5em;
  border-left-style: solid;
  border-left-width: 6px;
  border-left-color: #3E4E97;
  padding-left: 15px;
  padding-top: 0px;
}
.styleDevelopment div {
  padding: 20px 20px;
}


section.styleDevelopment article div p#verticalDescrpition{ 
padding-top: 30px;
}

section#mainsection div#mainDescrption.row p a#paparazziLink {
color: #3E4E97;
font-family: 'nexa_regularregular';     
}

section#mainSection { 
padding-top:50px;

}

div iframe.columns { 
padding-top:30px;

}



div#prototype {
    background-color: #e9b94f;
    width:100%;
}


section#colortest { 
width: 100%;
background-color:#C6E5E8;
padding:50px 0px;

}

section#styleguide { 
padding-bottom:40px;
}

#finalwords {
  font-size: 1.4em;
  line-height: 1.5em;
  padding-top: 0px;
}

article#firststep { 
margin-top:40px;

}

#finalthoughts { 
 background-image: url("../projects/AimHigh/images/finalbg.png");
}


/*main echo*/
iframe#echo { 
}

section#startupweekend { 
background-color:#EBBA50;
padding-bottom:50px;
}

section#Content div { 
padding-top:10px;
padding-bottom:10px;
}

section#Content div:nth-child(2) { 
padding-top:0px;
}

/*main paparazzi*/
section.mainimage { 
background-color: #F8AD3F;
width: 100%;

}

section.mainimage img {   
  margin:auto;  
}

section#illustration { 
margin-bottom:40px;

}
